.btn-dark {
    position: relative;
    top: -20px;
    left: 0px;
    width: 200px;
    
}
@media screen and (max-width: 1800px) {
    .btn-dark {
        position: relative;
        top: -5px;
        left: 40px;
        width: 200px;
        
    }
}
@media screen and (max-width: 1130px) {
    .btn-dark {
        position: relative;
        top: 14px;
        left: 40px;
        width: 200px;
        
    }
}
@media screen and (max-width: 1080px) {
    .btn-dark {
        position: relative;
        top: 20px;
        left: 40px;
        width: 200px;
        
    }
}
@media screen and (max-width: 960px) {
    .btn-dark {
        position: relative;
        top: 20px;
        left: 20px;
        width: 200px;
        
    }
}
@media screen and (max-width: 880px) {
    .btn-dark {
        position: relative;
        top: -20px;
        left: 30px;
        width: 160px;
        
    }
}
@media screen and (max-width: 770px) {
    .btn-dark {
        position: relative;
        top: -55px;
        left: 95px;
        width: 200px;
        
    }
}
@media screen and (max-width: 730px) {
    .btn-dark {
        position: relative;
        top: -55px;
        left: 95px;
        width: 200px;
        
    }
}
